In [17]:
from dotenv import load_dotenv
import os
load_dotenv()
import pandas as pd 
import alpaca_trade_api as tradeapi 
load_dotenv()

True

In [18]:
alpaca_api_key = os.getenv("APCA_API_KEY")
alpaca_secret_key= os.getenv("APCA_API_SECRET")

In [19]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [20]:
today = pd.Timestamp("2020-10-08").isoformat()

In [36]:
copdata = alpaca.get_barset(["COP", "MSFT", "TSLA"], "1D").df

In [35]:
copdata["COP"]["close"]

2020-05-19 00:00:00-04:00    42.67
2020-05-20 00:00:00-04:00    44.16
2020-05-21 00:00:00-04:00    43.72
2020-05-22 00:00:00-04:00    43.28
2020-05-26 00:00:00-04:00    43.67
                             ...
2020-10-02 00:00:00-04:00    33.06
2020-10-05 00:00:00-04:00    34.28
2020-10-06 00:00:00-04:00    33.29
2020-10-07 00:00:00-04:00    34.33
2020-10-08 00:00:00-04:00    35.53
Name: close, Length: 100, dtype: float64

In [37]:
copdata.head()

                             COP                                     MSFT  \
                            open     high     low  close   volume    open
2020-05-19 00:00:00-04:00  43.70  43.8798  42.610  42.67  5350273  185.03
2020-05-20 00:00:00-04:00  43.59  44.8000  43.300  44.16  5690336  184.81
2020-05-21 00:00:00-04:00  44.39  44.8700  43.620  43.72  5729634  185.40
2020-05-22 00:00:00-04:00  42.91  43.3600  42.300  43.28  4088246  183.19
2020-05-26 00:00:00-04:00  44.81  45.1200  43.495  43.67  6687587  186.34

                                                                 TSLA          \
                             high     low   close    volume      open    high
2020-05-19 00:00:00-04:00  186.59  183.49  183.50  23888140  815.1700  822.07
2020-05-20 00:00:00-04:00  185.85  183.94  185.66  51732326  820.5000  826.00
2020-05-21 00:00:00-04:00  186.67  183.30  183.49  25273422  816.0000  832.50
2020-05-22 00:00:00-04:00  184.46  182.54  183.51  18361237  822.1735  831.78
2020-05-26 00:00:00-04:00  186.50  181.10  181.56  28773423  834.5000  834.60


                               low   close    volume
2020-05-19 00:00:00-04:00  806.080  808.00   9331427
2020-05-20 00:00:00-04:00  811.800  815.46  13799592
2020-05-21 00:00:00-04:00  796.000  827.75  23543511
2020-05-22 00:00:00-04:00  812.000  816.40  19439642
2020-05-26 00:00:00-04:00  815.705  818.74   7532731